
body {        
    font-family: 'Titillium Web', sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-image: url('https://images7.alphacoders.com/313/313724.jpg');
    background-size:cover;
}

main {
    padding: 30px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 100px;
}

header {
    background-color: lightslategrey;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 90%;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
img {
    height: 400px;
    width: 300px;
    cursor: pointer;
    padding: 20px 20px 0px 20px;
}
img:hover {
    animation: shakeImg 0.5s;
    animation-iteration-count: infinite;
 }
 @keyframes shakeImg {
    0% { transform: translate(1px, 1px) rotate(5deg); }
    20% { transform: translate(-3px, 0px) rotate(10deg); }
    30% { transform: translate(3px, 2px) rotate(-10deg); }
    50% { transform: translate(-1px, 2px) rotate(-20deg); }
    70% { transform: translate(3px, 1px) rotate(-25deg); }
    90% { transform: translate(1px, 2px) rotate(10deg); }
    100% { transform: translate(1px, -2px) rotate(-10deg); }
 }
button {
    border: black dotted 5px;
    font-family: cursive;
    color: brown;
    background-color: lightblue;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px;
}
audio,
button {
    display: grid;
    grid-template-columns: 2fr, 1fr;
    justify-content:center;
}

